data/flows.json
{"_selected":"night","day":[{"type":"tab","id":"tab.day","label":"day"},{"type":"tab","id":"308bf6e9.cf740a","label":"Sheet 1"},{"id":"debfad7e.21405","type":"subflow","name":"Subflow 1","in":[{"x":56,"y":101,"wires":[]}],"out":[]},{"id":"current-scene.day","type":"current-scene","name":"","x":75,"y":20,"z":"tab.day","wires":[]},{"id":"f9b4f894.064b08","type":"scene","name":"","sceneId":"night","x":405.50000762939453,"y":258.25000381469727,"z":"tab.day","wires":[]},{"id":"91294b87.6ed6b8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":265,"y":259.25000381469727,"z":"tab.day","wires":[["f9b4f894.064b08"]]},{"id":"1d57a1b4.e2a85e","type":"init","name":"","sceneId":"","x":309,"y":20,"z":"tab.day","wires":[["77c62165.8839e","83dd2e7e.7c22d","742b4273.8bd4bc"]]},{"id":"77c62165.8839e","type":"debug","name":"","active":true,"console":"false","complete":"false","x":428.00000762939453,"y":136.0000023841858,"z":"tab.day","wires":[]},{"id":"96ea29c.f6915d8","type":"current-presence","presenceId":"person:any","name":"","x":64.5,"y":121.75000190734863,"z":"tab.day","wires":[]},{"id":"8c04e1b6.73fb2","type":"inject","name":"","topic":"","payload":"true","payloadType":"string","repeat":"","crontab":"","once":false,"x":248.25,"y":300.50000381469727,"z":"tab.day","wires":[["9e3e92a3.61c17"]]},{"id":"780d2e42.87f2d","type":"current-presence","presenceId":"person:den","name":"","x":65,"y":69.75000190734863,"z":"tab.day","wires":[]},{"id":"12e5ff54.ed1a01","type":"inject","name":"","topic":"","payload":"false","payloadType":"string","repeat":"","crontab":"","once":false,"x":250.5,"y":347.5000047683716,"z":"tab.day","wires":[["9e3e92a3.61c17"]]},{"id":"367f6569.c9809a","type":"inject","name":"","topic":"","payload":"bump","payloadType":"string","repeat":"","crontab":"","once":false,"x":239.00000381469727,"y":431.2500066757202,"z":"tab.day","wires":[["fe7dbb45.018248"]]},{"id":"759ad6da.8a6528","type":"current-presence","presenceId":"person:kylie","name":"","x":67.5,"y":171.00000286102295,"z":"tab.day","wires":[]},{"id":"fe7dbb45.018248","type":"bump-presence","name":"","pid":"person:den","x":405,"y":432,"z":"tab.day","wires":[]},{"id":"9e87fed0.6178","type":"current-light","name":"","x":70.5,"y":222.00000381469727,"z":"tab.day","wires":[]},{"id":"742b4273.8bd4bc","type":"lights","name":"","lightId":"lounge","state":"low","x":452.25000762939453,"y":95.50000095367432,"z":"tab.day","wires":[]},{"id":"83dd2e7e.7c22d","type":"lights","name":"","lightId":"kitchen","state":"high","x":453.25000762939453,"y":60,"z":"tab.day","wires":[]},{"id":"ee663779.1199c8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":378,"y":92,"z":"308bf6e9.cf740a","wires":[]},{"id":"922f3f7f.6dd0c","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":152,"y":170,"z":"308bf6e9.cf740a","wires":[["ee663779.1199c8"]]},{"id":"64d9340e.9b26cc","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":358,"y":508,"z":"tab.day","wires":[["fa5e982b.05a168"]]},{"id":"fa5e982b.05a168","type":"sensor out","name":"","sensorId":"hallway.motion","value":"","x":593,"y":469,"z":"tab.day","wires":[]},{"id":"c7ae738d.38519","type":"sensor in","name":"","sensorId":"hallway.motion","x":363,"y":562,"z":"tab.day","wires":[["14ca933d.eb356d"]]},{"id":"14ca933d.eb356d","type":"lights","name":"","lightId":"kitchen","state":"bright","x":624,"y":560,"z":"tab.day","wires":[]},{"id":"9e3e92a3.61c17","type":"presence out","name":"","pid":"person:den","x":425,"y":323,"z":"tab.day","wires":[]},{"id":"be956.fff416aa","type":"presence in","name":"","pid":"person:any","x":242,"y":182,"z":"tab.day","wires":[["77c62165.8839e"]]}],"common":[{"type":"tab","id":"5c7a3906.a385c8","label":"Common:Sens"},{"type":"tab","id":"tab.common","label":"Common"},{"id":"9ccb8e98.63347","type":"current-scene","name":"night","x":196,"y":92,"z":"tab.common","wires":[]},{"id":"31ee37f6.ce11c8","type":"init","name":"","sceneId":"","x":126,"y":187,"z":"tab.common","wires":[["d767832.f28988"]]},{"id":"a78b7f79.58748","type":"debug","name":"","active":true,"console":"false","complete":"false","x":464,"y":235,"z":"tab.common","wires":[]},{"id":"d767832.f28988","type":"function","name":"scene changed","func":"msg.payload = 'scene changed';\nreturn msg;","outputs":1,"x":302,"y":212,"z":"tab.common","wires":[["a78b7f79.58748"]]},{"id":"c95fd617.36a028","type":"presence in","name":"","pid":"person:any","x":125,"y":356,"z":"tab.common","wires":[["63ba5e0a.9c45a"]]},{"id":"63ba5e0a.9c45a","type":"switch","name":"true/false","property":"payload","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":303,"y":357,"z":"tab.common","wires":[["d3571960.2ca8e8","79b1479b.864eb8"],["4ff188d4.b00e78"]]},{"id":"da473c88.25b8c","type":"scene","name":"","sceneId":"day","x":608,"y":320,"z":"tab.common","wires":[]},{"id":"4ff188d4.b00e78","type":"scene","name":"","sceneId":"away","x":467,"y":393,"z":"tab.common","wires":[]},{"id":"879d65ae.786298","type":"presence out","name":"","pid":"person:den","x":792,"y":129,"z":"tab.common","wires":[]},{"id":"6fc4c28b.903b3c","type":"inject","name":"","topic":"","payload":"true","payloadType":"string","repeat":"","crontab":"","once":false,"x":548,"y":101,"z":"tab.common","wires":[["879d65ae.786298"]]},{"id":"c387345e.3c78c8","type":"inject","name":"","topic":"","payload":"false","payloadType":"string","repeat":"","crontab":"","once":false,"x":551,"y":140,"z":"tab.common","wires":[["879d65ae.786298"]]},{"id":"79b1479b.864eb8","type":"isdark","name":"","x":459,"y":356,"z":"tab.common","wires":[["badc90c5.45237"]]},{"id":"d3571960.2ca8e8","type":"islight","name":"","x":458,"y":323,"z":"tab.common","wires":[["da473c88.25b8c"]]},{"id":"badc90c5.45237","type":"scene","name":"","sceneId":"night","x":608,"y":354,"z":"tab.common","wires":[]},{"id":"bea2284e.415dd8","type":"sensor in","name":"","sensorId":"hallway.motion","x":118,"y":74,"z":"5c7a3906.a385c8","wires":[["3f06edb7.c0f912"]]},{"id":"3f06edb7.c0f912","type":"bump-presence","name":"","pid":"zone:hallway","x":375,"y":73,"z":"5c7a3906.a385c8","wires":[]},{"id":"ed0686cb.12f978","type":"current-presence","presenceId":"zone:hallway","name":"","x":641,"y":73,"z":"5c7a3906.a385c8","wires":[]},{"id":"8deaff5b.7215","type":"current-presence","presenceId":"zone:house","name":"","x":649,"y":127,"z":"5c7a3906.a385c8","wires":[]},{"id":"a5ec2de.f5a13d","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":659,"y":228,"z":"tab.common","wires":[["17f6f1c3.e8090e"]]},{"id":"17f6f1c3.e8090e","type":"locks out","name":"","lockId":"lounge","lock":"true","x":857,"y":224,"z":"tab.common","wires":[]},{"id":"52d3b982.ad2c48","type":"inject","name":"lock","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":218,"y":505,"z":"tab.common","wires":[["7f559813.80aa68"]]},{"id":"7f559813.80aa68","type":"locks out","name":"","lockId":"lounge","lock":"true","x":399,"y":503,"z":"tab.common","wires":[]},{"id":"16f5ae7.fe90a52","type":"inject","name":"unlock","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":219,"y":550,"z":"tab.common","wires":[["1f123bf4.e0edc4"]]},{"id":"1f123bf4.e0edc4","type":"locks out","name":"","lockId":"lounge","lock":"false","x":400,"y":548,"z":"tab.common","wires":[]}],"night":[{"type":"tab","id":"tab.night","label":"night"},{"id":"current-scene.night","type":"current-scene","name":"","x":75,"y":20,"z":"tab.night","wires":[]},{"id":"f7bf4f1d.0840b","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":108,"y":97,"z":"tab.night","wires":[[]]},{"id":"fd2f85fb.02d078","type":"current-scene","name":"","x":159,"y":264,"z":"tab.night","wires":[]},{"id":"14375150.ebc8af","type":"debug","name":"","active":true,"console":"false","complete":"false","x":487,"y":163,"z":"tab.night","wires":[]},{"id":"dfdac455.202538","type":"init","name":"","x":98,"y":156,"z":"tab.night","wires":[["14375150.ebc8af","733d1c94.8cc2e4","7e7d8e26.81827"]]},{"id":"4400d145.bbff3","type":"isdark","name":"","x":284,"y":199,"z":"tab.night","wires":[["14375150.ebc8af"]]},{"id":"4835b5bd.b7ca4c","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":131,"y":217,"z":"tab.night","wires":[["4400d145.bbff3","977b5091.6884b"]]},{"id":"977b5091.6884b","type":"islight","name":"","x":308,"y":234,"z":"tab.night","wires":[["ccb701fe.3349"]]},{"id":"ccb701fe.3349","type":"debug","name":"","active":true,"console":"false","complete":"false","x":497,"y":240,"z":"tab.night","wires":[]},{"id":"ed84fa13.127b08","type":"current-presence","presenceId":"person:den","name":"Den","x":782,"y":49,"z":"tab.night","wires":[]},{"id":"e5818b6f.1a7e78","type":"scene","name":"","sceneId":"day","x":643,"y":386,"z":"tab.night","wires":[]},{"id":"bf604d3.f409fb","type":"inject","name":"","topic":"","payload":"sleep","payloadType":"string","repeat":"","crontab":"","once":false,"x":228,"y":387,"z":"tab.night","wires":[["e5818b6f.1a7e78"]]},{"id":"733d1c94.8cc2e4","type":"lights","name":"","lightId":"kitchen","state":"full","x":352,"y":78,"z":"tab.night","wires":[]},{"id":"7e7d8e26.81827","type":"lights","name":"","lightId":"lounge","state":"full","x":357,"y":120,"z":"tab.night","wires":[]},{"id":"a233d0bc.5dcc3","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":139,"y":523,"z":"tab.night","wires":[["c6b6ad4b.39495"]]},{"id":"c6b6ad4b.39495","type":"locks out","name":"","lockId":"lounge","lock":"true","x":320,"y":521,"z":"tab.night","wires":[]}],"away":[{"type":"tab","id":"tab.away","label":"away"},{"id":"current-scene.away","type":"current-scene","name":"","x":75,"y":20,"z":"tab.away","wires":[]},{"id":"91130bda.6eecf8","type":"init","name":"","sceneId":"","x":87,"y":152,"z":"tab.away","wires":[["a155ebe5.5eaa18","b86f979c.479068"]]},{"id":"a155ebe5.5eaa18","type":"lights","name":"","lightId":"lounge","state":"off","x":310,"y":114,"z":"tab.away","wires":[]},{"id":"b86f979c.479068","type":"lights","name":"","lightId":"kitchen","state":"off","x":309,"y":153,"z":"tab.away","wires":[]},{"id":"5f84290d.a07bd8","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":274,"z":"tab.away","wires":[["36db5b7d.c924a4"]]},{"id":"36db5b7d.c924a4","type":"scene","name":"","sceneId":"day","x":331,"y":268,"z":"tab.away","wires":[]}]}